body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

#numbers{
	font-size: 22px;
}

#numbers span {
	border-radius: 3px;
}


#seconds {
	font-style: italic;
	font-size: 25px
}

button {
	text-transform: uppercase;
	letter-spacing: 0.6px;
	width: 100px;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 7px;
	outline: none;
	border: transparent;
}

button:hover {
	opacity: rgba(0,0,0, 0.5);
}

button:nth-child(-n+2) {
	margin-right: 20px;
}

button:active {
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3) inset;
}

.counter {
	max-width: 500px;
	margin: 0px auto;
	background: grey;
	text-align: center;
	border-radius: 7px;
	padding: 20px;
}


#seconds {
	background: white;
	height: 40px;
	background: lightgrey;
	line-height: 40px;
	border-radius: 5px;
}


[type="radio"] {
	display: none;
}

.label {
	text-align: center;
	line-height: 40px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 7px;
	background-color: #f4f5f9;
}

.label:nth-child(-n+4) {
	margin-right: 8px;
}

[type="radio"]:checked+.label {
	/*border-radius: 50%;*/
	background-color: coral;
	transition: all 0.3s ease;
}
#start:disabled {
	
}